:root {
    --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-300: 0.8rem;
}

@media (min-width: 40em) {
    :root {
        --fs-600: 3rem;
        --fs-400: 1.125rem;
    }
}

body {
    background-color: #000000;
    margin: 0;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

h1 {
    font-size: var(--fs-500)
}

a {
    font-size: var(--fs-300);
}

p {
    font-size: var(--fs-400);
    color: #ffff;
    line-height: 32px;
}

span {
    font-size: var(--fs-400);
    color: #ffffff;
    line-height: 32px;
}


